body {
  background: url("./img/3.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .leftDown {
    height: 65vh !important;
    overflow: hidden !important;
    top: 23vh !important;
  }
  .roundTrip {
    height: 17vh !important;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1539px) {
  .leftDown {
    height: 65vh !important;
    overflow: hidden !important;
    top: 30vh !important;
  }
}
@media screen and (min-width: 1540px) {
  .leftDown {
    height: 45vh !important;
    overflow: hidden !important;
    top: 43vh !important;
  }
  .roundTrip {
    height: 60vh;
  }
}
.main {
  padding: 15px 30px;
}
.left {
  width: 35%;
  position: relative;
}
.leftDown {
  position: absolute;
  top: 210px;
}
.header {
  background: url("./img/headBg.png") no-repeat;
  background-size: 100% 100%;
  height: 10vh;
}
.bigTitle {
  text-align: center;
  margin-bottom: 0 !important;

  color: #ffffff;
}

.bigTitleRight {
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-end;
}
.fa-clock {
  padding: 0 10px;
}
.fa-solid {
  font-size: 1.2rem;
}
.currentTime {
  padding: 0 10px;
}
.fa-sun {
  font-size: x-large;
  align-self: center;
  padding: 0px 10px;
  color: burlywood;
}
h2 {
  font-weight: bold !important;
  margin-bottom: 0 !important;
}
.textColor {
  color: #47f1f0;
}
.leftUpLeft,
.leftUpMiddle,
.leftUpRight {
  font-size: 1.2rem;
}
.leftUpLeft {
  background: linear-gradient(#40c6fa, #2686d5);
  padding: 5px;
}
.leftUpMiddle {
  margin: 0 20px;
}
.leftUpRight {
  color: yellow;
}
.leftUpList,
.rightDownList {
  z-index: -99;
}
.roundTrip,
.postsRound {
  --bs-list-group-bg: unset !important;
  --bs-list-group-color: #ffffff !important;
  height: 25vh;
  overflow: hidden;
}
.statistics {
  padding: 20px 0;
}
label {
  color: #ffffff;
  width: 100%;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  padding: 5px 0;
}
.problem {
  /* background-color: #6495ed; */
  background: linear-gradient(0.05turn, #3ab5e3, #07181e);
}
.already {
  /* background-color: darkmagenta; */
  background: linear-gradient(0.05turn, #b11f9e, #150413);
}
.notYet {
  /* background-color: tan; */
  background: linear-gradient(0.05turn, #e0c130, #292309);
}
.form-control {
  width: 60% !important;
  border-radius: 0 !important;
  border: 2px solid rgb(30, 95, 216) !important;
  text-align: center;
  color: #ffffff !important;
  background-color: #000000 !important;
}

/* center top */
.center {
  width: 30%;
}
.circle {
  justify-content: space-around;
}
.circleLeft,
.circleRight {
  position: relative;
}
.runLeftText,
.runRightText {
  position: absolute;
  top: 55px;
  right: 40px;
}
.runLeftTitle {
  color: #9cf9fc;
  font-size: 25px;
}
.runRightTitle {
  color: #d3fc9f;
  font-size: 25px;
}
.runLeftInfo,
.runRightInfo {
  color: #ffffff;
  text-align: center;
}
.runLeft,
.runRight {
  font-size: 10rem;
  align-self: center;
  padding: 0px 10px;
}
.runLeft {
  color: #9cf9fc;
}
.runRight {
  color: #d3fc9f;
}

/* center middle */
.infoPushImg {
  cursor: pointer;
}
img {
  width: 9vw;
  padding: 0 10px;
}

/* 預警信息推送彈窗 */
.popUp {
  width: 417px;
  height: 100%;
  position: absolute;
  top: -13px;
  right: 20px;
  background: url("./img/2.jpg") no-repeat;
  background-size: 100% 100%;
  z-index: 100;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 0.3s all linear;
}
.popUp img {
  width: 100%;
  padding: 50px 0;
}
.popUpShow {
  transform: scale(1, 1);
}
.popUpContainer {
  width: 100%;
  height: calc(50% - 20px);
  margin-top: 20px;
}
.popUpContainer .popUpTitle:after {
  left: 0;
}
.popUpContainer .popUpTitle:before {
  left: 6px;
}
.popUpInfo {
  width: 100%;
  height: calc(100% - 45px);
  margin-top: 20px;
}
.popUpInfo table {
  width: 100%;
  border: 1px solid #3d58b9;
}
.popUpInfo table td {
  border: 1px solid #3d58b9;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
/* 預警信息推送彈窗 */

.clickStyle {
  font-size: 1.5rem !important;
  text-decoration: none !important;
}
.clickColor {
  color: #47f1f0 !important;
}
.unClickColor {
  color: #ffffff !important;
}

/*預警信息統計*/
.barContainer {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}
.barContainer::-webkit-scrollbar {
  width: 2px;
}
.barBox {
  width: 100%;
  /*height: 185px;*/
  overflow: hidden;
}
.barBox li {
  float: left;
  overflow: hidden;
  margin: 0 13px;
  cursor: pointer;
}

.barBox li .barLine {
  width: 40px;
  height: 149px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.barBox li .barLine .barHeight {
  display: inline-block;
  width: 36px;
  height: 0;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 2px;
  transition: all 1s linear 1s;
}

.barBox li .barLine .barHeight:before {
  content: "";
  width: 36px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 0px;
}

/* .barBox li .barLine .barHeight {
  position: absolute;
  top: -30px;left: -3px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
} */

.barBox li:nth-child(5n + 1) .barLine {
  border: 1px solid #21de75;
}

.barBox li:nth-child(5n + 1) .barLine .barHeight {
  background: linear-gradient(rgba(57, 186, 115, 1), rgba(57, 186, 115, 0));
}

.barBox li:nth-child(5n + 1) .barLine .barHeight:before {
  background-image: url(./img/bar-cap-1.png);
}

/* .barBox li:nth-child(5n + 1) .barLine .barHeight {
  color: #3abe76;
} */

.barBox li:nth-child(5n + 2) .barLine {
  border: 1px solid rgba(32, 68, 158, 1);
}

.barBox li:nth-child(5n + 2) .barLine .barHeight {
  background: linear-gradient(rgba(32, 68, 158, 1), rgba(32, 68, 158, 0));
}

.barBox li:nth-child(5n + 2) .barLine .barHeight:before {
  background-image: url(./img/bar-cap-2.png);
}

/* .barBox li:nth-child(5n + 2) .barLine .barHeight {
  color: #4271be;
} */

.barBox li:nth-child(5n + 3) .barLine {
  border: 1px solid rgba(115, 18, 168, 1);
}

.barBox li:nth-child(5n + 3) .barLine .barHeight {
  background: linear-gradient(rgba(115, 18, 168, 1), rgba(115, 18, 168, 0));
}

.barBox li:nth-child(5n + 3) .barLine .barHeight:before {
  background-image: url(./img/bar-cap-3.png);
}

/* .barBox li:nth-child(5n + 3) .barLine .barHeight {
  color: #a5429c;
} */

.barBox li:nth-child(5n + 4) .barLine {
  border: 1px solid #fa9836;
}

.barBox li:nth-child(5n + 4) .barLine .barHeight {
  background: linear-gradient(rgba(165, 41, 37, 1), rgba(165, 41, 37, 0));
}

.barBox li:nth-child(5n + 4) .barLine .barHeight:before {
  background-image: url(./img/bar-cap-4.png);
}

/* .barBox li:nth-child(5n + 4) .barLine .barHeight {
  color: #c75e2b;
} */
.barBox li:nth-child(5n + 5) .barLine {
  border: 1px solid rgb(155, 180, 45);
}

.barBox li:nth-child(5n + 5) .barLine .barHeight {
  background: linear-gradient(rgb(206, 170, 25), rgb(52, 37, 31));
}

.barBox li:nth-child(5n + 5) .barLine .barHeight:before {
  background-image: url(./img/bar-cap-5.png);
}

/* .barBox li:nth-child(5n + 5) .barLine .barHeight {
  color: #f9d736;
} */
.barName {
  margin-top: 13px;
  width: 40px;
  height: 35px;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
}
/*預警信息統計*/

/* right */
.right {
  width: 35%;
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#columnChart {
  height: 40vh;
  width: 100%;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.rightdownIcon {
  color: #9cf9fc;
  font-size: 40px;
  /* margin-left: 30px; */
  margin-right: 10px;
}
.fileText {
  color: #ffffff;
  align-self: center;
  font-size: 20px;
}
.fileBtn {
  background-color: rgba(0, 0, 0, 0);
  border: unset;
}
.show {
  display: block;
}
.hide {
  display: none;
}

/* 系統公告 */
.posts {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.postsRound{
  width: 100%;
  height:100%;
  margin-left: 45px;
}
.postsRound li{
  width: 100%;
  height: 25px;
  line-height: 20px;
  color:#fff;
  font-size: 12px;
  margin: 7px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor:default;
}
/* 系統公告 */